html{
	margin: 0;
	padding: 0;
}
body{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center center;
}
.container{
	width: 100%;
	margin: 0;
}

#navbar-wrapper{
	position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    padding: 0;
    z-index: 20;
}

.navbar{
	  -moz-box-shadow: 0 0 14px #000;
  -webkit-box-shadow: 0 0 14px #000;
  box-shadow: 0 0 14px #000;
}


#home-icon{
	width: 50px;
	height: 50px;
	margin-top:0;
	position: absolute;
	top: 0;
}
.navbar-right {
	margin-right: 1%;
}

.mslogo{
	margin-left: 5rem;
	margin-top: 1rem !important;
}
.mslogo a{
	color: black;
	text-decoration: none;
}

.navbar .divider-vertical {
    height: 43px;
    margin: 0 9px;
    margin-top: 5px;
    border-right: 0.5px solid #777;
    
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

h1{
	 -moz-text-shadow: 0px 4px 4px #000;
  -webkit-text-shadow: 0px 4px 4px #000;
  text-shadow: 0px 4px 4px #000;	
}
}

/*slideshow*/

.w3-display-container{
	width: 100%;
	padding: 0;
	position: relative;
}
.mySlides {
	display:none;
	position: relative;
	margin-top: 2.5%;	
	width: 100%;
	height: 600px;
	-moz-box-shadow: 0 0 18px 0 #000;
  -webkit-box-shadow: 0 0 18px 0 #000;
  box-shadow: 0 0 18px 0 #000;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}
.w3-badge {
	height:13px;width:13px;padding:0
}

/*Course,Video*/
.content{
	margin-top: 4rem;

}
.content .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.content h2 {
  font-weight: normal;
}
.content .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.rounded-circle{
	width:250px;
	height: 250px;
	border-radius:50%;

	  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;	
}

/*Hall of Fame Video */
#hall_of_fame{
	display: block;
    margin: 1rem auto 6rem auto;       

}
iframe{	
	height: 300px;
	width: 400px;

	 -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}




/*Footer*/
.float-right{
	float:right!important ;
	font-size:16px;
	 text-shadow: 0 2px #bdc3c7;

}
footer{
	display:block;
	font-size:12px;
	color:#636c72;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-right: 3rem;
}